# ============================================================
# PYTHON
# ============================================================

__pycache__/
*.py[cod]
*.pyo

# ============================================================
# ENVIRONMENTS
# ============================================================

.venv/
venv/
env/

# ============================================================
# ENVIRONMENT VARIABLES
# ============================================================

.env

# ============================================================
# IDE
# ============================================================

.vscode/
.idea/

# ============================================================
# TESTING
# ============================================================

.pytest_cache/

# ============================================================
# DATASET
# ============================================================

data/dataset/

data/raw/*
data/processed/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!data/sample/.gitkeep

# ============================================================
# MODEL WEIGHTS
# ============================================================

*.pt
*.pth
*.onnx

models/*
!models/.gitkeep

# ============================================================
# GENERATED OUTPUTS
# ============================================================

outputs/*
!outputs/.gitkeep

# ============================================================
# ULTRALYTICS DEFAULT RUNS
# ============================================================

runs/

# ============================================================
# OS
# ============================================================

.DS_Store
Thumbs.db